## Домашнее задание

**Домашнее задание к лекции.

Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [4]:
import pandas as pd

In [4]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
def classisification(row):
    if row <= 2.0:
        return 'low rating'
    elif row <= 4.0:
        return 'middle rating'
    else:
        return 'high rating'

In [14]:
ratings['class'] = ratings['rating'].apply(classisification)
ratings.head()

   userId  movieId  rating  timestamp          class
0       1        1     4.0  964982703  middle rating
1       1        3     4.0  964981247  middle rating
2       1        6     4.0  964982224  middle rating
3       1       47     5.0  964983815    high rating
4       1       50     5.0  964982931    high rating

## Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [5]:
keywords_1 = pd.read_csv('keywords.csv')
keywords_1.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [38]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }

def region(row):
    for key, values in geo_data.items():
        for city_list in values:
            if city_list in row:
                return key
keywords_1['class'] = keywords_1['keyword'].apply(region)
keywords_1.groupby('class').count().head(20)

                keyword  shows
class
Дальний Восток       94     94
Северо-Запад        266    266
Центр               387    387